<!DOCTYPE html>
<html>

<body>

    <div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
        <div class="card card0 border-0">
            <div class="row d-flex">
                <div class="col-lg-6">
                    <div class="card1 pb-5">
                        <div class="row"> <img src="assets/Vermeg.png" class="logo"> </div>
                        <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="assets/company.jpeg" class="image"> </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card2 card border-0 px-4 py-5">

                        <div class="row px-3 mb-4">
                            <div class="line"></div>
                            <div class="line"></div>
                        </div>
                        <div class="row px-3">
                            <label class="mb-1">
                                <h6 class="mb-0 text-sm">User Name</h6>
                            </label>
                            <input class="mb-4" type="text" [(ngModel)]="username" name="email" placeholder="Enter your user name"> </div>
                        <div class="row px-3"> <label class="mb-1">
                                <h6 class="mb-0 text-sm">Password</h6>
                            </label> <input type="password" [(ngModel)]="password" name="password" placeholder="Enter password"> </div>
                        <div class="row px-3 mb-4">
                            <div class="custom-control custom-checkbox custom-control-inline"> <input id="chk1" type="checkbox" name="chk" class="custom-control-input"> <label for="chk1" class="custom-control-label text-sm">Remember me</label> </div>
                        </div>
                        <div class="row mb-3 px-3"> <button type="submit" class="btn btn-blue text-center" (click)="onSubmit()">Login
                                <i class="fa fa-sign-in" aria-hidden="true"></i></button> </div>
                        <div class="row mb-4 px-3"> <small class="font-weight-bold">If any problem happen, please
                                contact the <a class="text-danger ">Aministrator</a></small> </div>
                        <div class="row px-3 mb-4">
                            <div class="line"></div>
                            <div class="line"></div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="bg-blue py-4">
                <div class="row px-3"> <small class="ml-4 ml-sm-5 mb-2">Copyright &copy; 2022. All rights
                        reserved.</small>
                    <div class="social-contact ml-4 ml-sm-auto"> <span class="fa fa-google-plus mr-4 text-sm">

                        </span> <span class="fa fa-linkedin mr-4 text-sm"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>